@import './variables';

@font-face {
    font-family: kumbh-sans;
    src: url(../font/KumbhSans-Medium.ttf);
}

.container{
    font-family: kumbh-sans;
    width: 90%;
    margin-left: 20px;

    @include responsive(tablet){
        width: 80%;
        margin-left: 150px;
    }

    ul{
        list-style-type: none;
        font-weight: bold;
        text-transform: uppercase;

        @include responsive(tablet){
            display: inline-flex;
            margin-top: -35px;
            float: right;

            li{
                margin-left: 40px;
                
                &:hover{
                    cursor: pointer;
                    color: $orange;
                }

                &:nth-of-type(5){
                    display: none;
                }
            }
        }
       
        
    }

    button{
        padding: 10px;
        color: $white;
        margin-top: 20px;
        font-family: kumbh-sans;
        letter-spacing: 2px;

        @include responsive(tablet){
            &:hover{
                cursor: pointer;
                opacity: 0.8;
            }
        }

        
    }
}