@import "./variables";

.main-container{
    margin-top: 70%;
    width: 100%;
    position: relative;
    z-index: 2;

    @include responsive(tablet){
        margin-top: 50%;
        width: 97%;
        margin-left: 10px;

    }
    .design{
        width: 100%;
        .more{
            padding: 10px;
            border: 1px solid $orange;
            cursor: pointer;
            text-align: center;

            @include responsive(mobile){
                background: $orange;
            }

            &:hover{
                background: $orange;
                color: $white;
            }
        }

        aside{
            padding: 20px;
            background: $white;
        }
        margin-bottom: 20px;

        @include responsive(tablet){
            width: 90%;
            &:hover{
                transform: scale(1.03);
                box-shadow: 0 3px 3px 0px $gray;
                
            }
        
        }
    }


}

form{
    padding: 10px;
    border: 1px solid $white;
    width: 97%;
    margin-bottom: 30px;
    background: $white;

    @include responsive(mobile){
        width: 93%;
    }

    input{
        width: 70%;
        padding: 10px;
        margin:auto 30px;
        outline: none;
        font-family: kumbh-sans;

        @include responsive(mobile){
            width: 90%;
            margin: auto;
        }
    }

    button{
        width: 97%;
        background: $orange;
        border: 1px solid $orange;

        @include responsive(tablet){
            width: 20%;
        }
    }
}