*{
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: lato;
  src: url(../font/Lato-Regular.ttf);
}

.container {
  width: 90%;
  margin-left: 15px;
  font-family: lato;
  position: relative;
  color: rgb(129, 126, 126);
}

button{
  font-family: lato;
  color: white;
  cursor: pointer;
}

li:hover{
  cursor: pointer;
  color: rgb(58, 143, 117);
}

@media screen and (min-width:800px) {
  .container{
    width: 85%;
    margin-left:90px;
  }
}