.header{
    margin-top: 30px;
}

.header ul li{
    display: inline-flex;
    margin: auto 15px;
}

button{
    background-color: rgb(59, 107, 212);
    border: 1px solid rgb(59, 107, 212);
    border-radius: 3px;
    padding: 10px;
    color: white;
}

.hiring button{
    background: linear-gradient(to right,rgb(226, 164, 48),rgb(216, 59, 85));
    border: 1px solid rgb(240, 124, 143);
    border-radius: 20px;
    padding-inline: 10px;
    padding-block: 7px;
}

.menu{
    position: absolute;
    top: 13px;
    right: 0px;
}

@media screen and (max-width:500px) {
    .navigation{
        position: absolute;
        display: none;
        z-index: 10;
        background: white;
        border-radius: 10px;
        font-weight: 500;
        text-align: center;
        width: 80%;
        left: 20px;
        padding: 15px;
        top: 100px;
        transition: 0.4s ease;
    }
    .navigation.active{
        display: block;
        transition: 0.4s ease;
        font-size: 20px;
    }
    .navigation button{
        width: 100%;
        font-weight: 600;
        letter-spacing: 2px;
    }
    .overlay{
        position: absolute;
        top: -30px;
        background: rgba(0,0, 0, 0.7);
        width: 112%;
        left: -15px;
        height: 160vh;
        z-index: 4;
        display: none;
        transition: 0.4s ease;
    }
    .overlay.active{
        display: block;
        transition: 0.4s ease;
    }
    .header ul li{
        display: block;
        margin: 20px auto;
    }
    .hiring button{
        position: absolute;
        top: 0px;
        left: 40%;
    }
    
}

@media screen and (min-width:800px) {
    .nav-links{
        position: absolute;
        top: 10px;
        left:30%;
    }
    
    .nav-waitlist{
        position: absolute;
        right: 0px;
        top: 5px;
    }

    .hiring{
        position: absolute;
        margin-top: 10px;
    }
    .menu{
        display: none;
    }

}