@font-face {
    font-family: playfair;
    src: url(../font/PlayfairDisplay-Bold.ttf);
}

.hero{
    z-index: 3;
}

.main{
    top: 450px;
    position: absolute;
}

h1{
    margin-bottom: 20px;
    font-family: playfair;
    font-size: 40px;
    color: black;
}

.hero-and-shapes{
    width: 100%;
    position: relative;
}

.hero-and-shapes img{
    width: 70%;
    position: absolute;
    margin-left: 70px;
    top: -340px;
}

.blue{
    transform: rotate(-40deg);
    z-index: 0;
}

.pink{
    transform: rotate(-30deg);
    z-index: 1;
}

.purple{
    transform: rotate(-20deg);
    z-index: 2;
}

form{
    margin-top: 20px;
}

form aside{
    margin: 20px auto;
    position: relative;
}

form input{
    border: 1px solid white;
    outline: none;
    padding: 15px;
    width: 90%;
    font-family: lato;
    background: whitesmoke;
    margin: 10px auto;
    border-radius: 3px;
}

form button{
   width: 100%;
   padding: 15px;
}

form input:focus{
    border: 1px solid rgb(59, 107, 212);
}

.check{
    width: 22px;
    margin-right: 30px;
    position: absolute;
    top:0px;
}

form aside p{
    margin-left: 50px;
}

@media screen and (min-width:800px) {
    .main{
        display: flex;
        flex-flow: row-reverse;
        justify-content: space-between;
        top: auto;
        margin-top: 80px;
    }
    .hero-and-shapes img{
        width: 70%;
        top: auto;
        margin-left: 50%;
    }
    form input{
        width: 60%;
        margin-right: 10px;
    }
    form button{
        width: 30%;
    }
}
